<!-- <p>frame-list works!</p> -->

<div class="container">
  <ul>
    <li class="list-inline-item">
        <input id="file" type="file" name="file" class="btn btn-primary btn-sm" />
        <!--(The input attribute "name" must be the same as the RequestParam in the Spring Boot uploadFile method)-->
    </li>
    <li class="list-inline-item">
        <button class="btn btn-primary btn-sm">Envoyer</button>
    </li>
  </ul>
  <p>Here are the available images :</p>
  <ul>
    <li *ngFor="let frame of frames">
      <a routerLink="/api/file/{{ frame.fullname }}">
          <span (click)="onClick(frame)">{{ frame.fullname }}</span>
      </a> 
    </li>
  </ul>
</div>
