
.button {
  padding: 10px;
  background-color: black;
  color: white;
  width: 90%;
  margin-bottom: 15px;
}

.drag-over-title {
  display: none;
}

.drop-box {
  cursor: pointer;
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 30px;
  max-width: 75%;
}
 
.drop-box.dragover {
  opacity: 0.6;
}
 
.drop-box.dragover .drag-over-title {
  display: block;
}
 
.drop-box.dragover .drag-in-title {
  display: none;
}
 
/* input[type='file'] {
  display: none;
} */