
.bg-image {
  background-image: url(/src/assets/Ciel-etoiles.jpg);
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
}
